beautifulsoup4==4.12.3
faiss_cpu==1.8.0.post1
ipdb==0.13.13
nltk==3.8.1
numpy==2.1.1
openai==1.44.0
pyutils==0.0.14
Requests==2.32.3
rouge_score==0.1.2
scikit_learn==1.5.1
scipy==1.14.1
sentence_transformers==3.0.1
spacy==3.7.6
tenacity==9.0.0
tiktoken==0.7.0
torch==2.3.0.post100
tqdm==4.66.4
transformers==4.40.2
umap==0.1.1
nerif==0.5.1
qdrant-client==1.11.3